body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/4907157.jpg);
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.logo>img {
    width: 125px;


}

.header {
    display: flex;
    flex-direction: column;
    background: #ab1a2ba9;
    overflow: hidden;
    height: 100%;
    z-index: 2;
    border-bottom: 5px solid #006e42b4;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}

.top-buttons {
    order: 1;
    display: flex;
    align-self: baseline;
    gap: 10px;

}

.logo {

    padding: 0;
    margin: 0;
    align-self: center;
    margin-left: -30px;
    margin-top: -10px;

}

button {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(194, 194, 194, 255);
    background-color: rgba(0, 122, 73, 255);
    border-radius: 15px;

}

button:hover {
    background-color: rgb(171, 26, 42);
}

.title>h1 {
    color: #006e42b4;
    text-transform: uppercase;
    font-size: 50px;
    white-space: nowrap;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /*text-shadow: 0px 0px 5px #006e42b4;*/


}

.title,
.alfa-image {
    
    flex-basis: 400px;
    align-self: center;
    flex-shrink: 1;

}

.bot {
    height: 300px;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;

}

.title-p {
    font-size: 26px;
}

.alfa-image>img {

    max-width: 400px;
    border-radius: 18px;

}

.alfa-image {
    align-self: center;
}

.categories {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    flex-wrap: wrap;



}

.content-img {
    max-height: 250px;
    border: solid;
    border-width: 3px;
    border-color: rgb(171, 26, 42);
    border-radius: 15px;
}

.content-img:hover {
    opacity: 0.5;
}

h2 {
    color: rgb(171, 26, 42);
}

.component {


    min-width: 0;
   
}



.best-sellers {

    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #006e42b4;
    overflow: hidden;
    height: 100%;
    z-index: 2;
    border-top: 5px solid #ab1a2ba9;
    border-bottom: 5px solid #ab1a2ba9;
}

.item>p {
    color: white;
    font-size: 15px;
}

.item-img {
    max-height: 100px;
    border-radius: 15px;
}

.item-img {
    transition: 1s ease;
    border: 3px solid #ab1a2ba9;
}

.item-img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.promo {
    display: flex;
    justify-content: center;
    max-height: 200px;
    padding: 20px;

}

.box {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-height: 100px;
    padding: 10px;
    background-color: #ab1a2ba9;
    align-items: center;
    border: 5px solid #006e42b4;
}


.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #006e42b4;
    border-top: 5px solid #ab1a2ba9;
}